extends views/main.pug

block head
  title
    = config.title

block main
  include mixins/post.pug
  -var time
  -site.posts.sort('date', 'desc').each(function(post) {
    -var year = post.date.year()
    -if (time != year) {
      -if (time) {
        h2.archive-title
          = year
      -}
      -time = year
    -}
    +post(post, 'archive')
  -})
