include _views/post
include _views/menu
extends _views/main

block main
  -var time
  -site.posts.sort('date', 'desc').each(function(post){
    -var year = post.date.year()
    -if (time != year) {
      -if (time) {
        h2.archive-title
          = year
      -}
      
      -time = year
    -}

    +post(post, 'archive')
  -})

block head
  title
    = config.title
