extends views/main.pug

block head
  title
    = page.title + ' - ' + config.title

block main
  if page.type === 'tags'
    include mixins/tags.pug
    +tags('TAGS', site.tags.length)
  else
    include mixins/post.pug
    +post(page, 'post')

  //-
  include plugins/reward.pug

  //- comment
  if theme.comment_plugin == 'valine'
    include plugins/valine.pug
  else
    include plugins/livere.pug

  //- mathjax
  if page.mathjax
    include plugins/mathjax.pug
