extends _views/main.pug
block main
  include _views/post.pug
  -page.posts.each(function(post){
    +post(post, 'archive')
  -})

block head
  title
    = page.tag + ' - ' + config.title

block menu
  include _views/menu.pug
  +menu('tag')
