doctype html
html(lang="zh-CN")
  head
    include head.pug
  body(style="opacity:0")
    header.head
      h1.head-title.u-fl: a(href = config.root)
        = config.title
      include nav.pug
      
    main.main
      block main
    
    footer.foot
      div.foot-copy.u-fl
        if theme.start_year != date(new Date(), 'YYYY')
          != '&copy; ' + theme.start_year + '-' + date(new Date(), 'YYYY') + ' ' + (config.author || config.title)
        else
          != '&copy; ' + date(new Date(), 'YYYY') + ' ' + (config.author || config.title)
        if config.author === 'Oliver'
          a(href="http://www.beianbaba.com/icp/ochukai.me" target="view_window" style="color:#fff")
            != '（鲁ICP备16006255号-1）'
      block menu
    include foot.pug
