meta(charset='utf-8')
meta(http-equiv='X-UA-Compatible', content='IE=edge')
meta(name='viewport', content='width=device-width, initial-scale=1')

if theme.google_verification
  meta(name="google-site-verification", content = theme.google_verification)

if config.author
  meta(name='author', content = config.author)

if config.keywords
  meta(name='keywords', content = config.keywords)

if config.description
  meta(name='description', content = config.description)

if theme.rss
  link(rel='alternative', href = theme.rss, title = config.title, type='application/atom+xml')

if theme.favicon
  link(rel="icon", href = theme.favicon)

block head

!= css('css/main')
!= css('js/fancybox/jquery.fancybox.min.css')
<!--[if lt IE 9]><script>(function(a,b){a="abbr article aside audio bdi canvas data datalist details dialog figcaption figure footer header hgroup main mark meter nav output progress section summary template time video".split(" ");for(b=a.length-1;b>=0;b--)document.createElement(a[b])})()</script><![endif]-->
!= js('js/jquery-3.1.1.min.js')
!= js('js/fancybox/jquery.fancybox.min.js')

