doctype html
html.index(lang="zh-CN")
  head
    include head.pug
  body
    #particles-oli-wrapper.hide
    .index-wrapper
      header.head.index.hide
        h1.head-title.u-fl
          = config.title
        include nav.pug

    != js('js/particles.min.js')
    != js('js/particles.oli.js')

    include ../plugins/google.pug
