doctype html
html(lang="zh-CN")
  head
    include head.pug

  body(style="opacity:0")
    header.head
      h1.head-title.u-fl: a(href = config.root)
        = config.title
      include nav.pug

    main.main
      block main

    footer.foot
      div.foot-copy
        if theme.start_year != date(new Date(), 'YYYY')
          != '&copy; ' + theme.start_year + ' - ' + date(new Date(), 'YYYY') + ' ' + (config.author || config.title)
        else
          != '&copy; ' + date(new Date(), 'YYYY') + ' ' + (config.author || config.title)

        //- icp 备案信息
        if theme.icp_link
          a(href=theme.icp_link, class="icp-a", target="view_window")
            != theme.icp_text

    include ../plugins/google.pug

    != js('js/scroller')
    != js('js/main')
