@font-face
  font-family: 'icon'
  src: url("../fonts/icon.eot?-3uy3dk")
  src: url("../fonts/icon.eot?#iefix-3uy3dk") format('embedded-opentype'),url("../fonts/icon.woff?-3uy3dk") format('woff'),url("../fonts/icon.ttf?-3uy3dk") format('truetype'),url("../fonts/icon.svg?-3uy3dk#icon") format('svg')
  font-weight: normal
  font-style: normal

[class^="icon-"],
[class*=" icon-"]
  font-family: 'icon'
  font-style: normal
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale

.icon-arrow-right:before
  content: "\e600"

.icon-arrow-left:before
  content: "\e601"