blockquote
dl
dd
h1
h2
h3
h4
h5
h6
figure
p
pre
  margin: 0

button
  padding: 0
  border: 0
  background: transparent

fieldset
  margin: 0
  padding: 0
  border: 0

iframe
  border: 0

ol
ul
menu
  margin: 0
  padding: 0
  list-style: none

img
audio
canvas
video
  vertical-align: middle

.clearfix:after,
.clearfix:before {
    display: table;
    content: " "
}

.clearfix:after {
    clear: both
}

.hide {
  visibility: hidden;
}