.u-cf
  &:before
  &:after
    content:''
    display:table
  &:after
    clear:both

.u-bfc
  overflow: hidden

.u-fl
  float: left

.u-fr
  float: right

.u-hidden 
  display: none !important
  visibility: hidden

.modal-active
  overflow: hidden
